<p>kudo-component works!</p>
<li 
*ngFor="let kudo of kudos"
class="list-group-item">
{{ kudo.text }}
</li>
<h2>THE KUDO LINK BELOW TEST:</h2>
<li 
*ngFor="let kudo of kudos"
class="list-group-item">
{{ kudo.img_url }}
</li>

<form class="form-group" #Formtext>
    <input type="text">
<button (submit)="updateKudo(kudoData)">submit update</button>
</form>

<h3>testing this button</h3>
<input type="text" class="form-control" (input)="onUpdate($event)">
<button class='btn btn-primary' (click)="newKudoPost()">submit new kudo</button>
