<li *ngFor="let kudo of kudos" [ngClass]="{'hide': kudo.img_url === ''}">
        <img src={{kudo.img_url}} alt="">
</li>

<image-upload (imageEvent)="receiveImage($event)"></image-upload>

<div class="mt-4">
<p>kudo-component works!</p>
<img src={{kudos.img_url}} alt="">
<li 
*ngFor="let kudo of kudos"
class="list-group-item">
{{ kudo.text }}
</li>


<form class="form-group" >
    <input type="text" class="form-control">
    <button class='btn btn-info' (submit)="updateKudo(kudoData)">submit update</button>
</form>

<h3>testing this button</h3>
<form class="form-group">
    <input type="text" class="form-control" (input)="onUpdate($event)" placeholder="enter text here">
    <button class='btn purple-button' (click)="newKudoPost()">submit new kudo</button>
</form>


</div>


